<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity  Name="Matroska-Batch-Flow"  Version="0.1.0.0" Publisher="CN=Tim"/>
  <Properties >
  
  <DisplayName>Matroska Batch Flow</DisplayName>
  
  <Logo>Resources\Assets\PackageLogo.png</Logo>
  
  <PublisherDisplayName>Tim Gels</PublisherDisplayName>
  </Properties >

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements  DisplayName="Matroska Batch Flow" Square150x150Logo="Resources\Assets\MediumTile.png" Square44x44Logo="Resources\Assets\AppIcon.png" Description="Matroska Batch Flow is a tool for batch processing Matroska files with ease. Quickly modify container properties across multiple files. Automate repetitive tasks and streamline your workflow.">
        <uap:DefaultTile Square71x71Logo="Resources\Assets\SmallTile.png" Wide310x150Logo="Resources\Assets\WideTile.png" Square310x310Logo="Resources\Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Resources\Assets\SplashScreen.png"/>
      </uap:VisualElements >
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
